body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

a {
    color: #67edf7;
}

#topnav ul, #my-projects-list {
    list-style-type: none;
    padding-left: 0;
}